<h3>TravelRecommender</h3>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Country
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Interests
    </label>
    <input id="address" type="text" formControlName="address">
  </div>
  <div>
    <label for="address2">
      Interests
    </label>
    <input id="address2" type="text" formControlName="address2">
  </div>

  <div>
    <label for="address3">
      Interests
    </label>
    <input id="address3" type="text" formControlName="address3">
  </div>


  <button class="button" type="submit">Purchase</button>

</form>
